.game {
  width: 255px;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  margin: auto;
  font-weight: 500;
  font-size: 25px;
}

.title {
  background-color: blue;
  padding: 10px 0;
  margin: 10px 0;
}

span {
  color: orange;
}

.square {
  width: 80px;
  height: 80px;
  background-color: blue;
  float: left;
  margin: 2px;
  font-size: 50px;
}

.square:hover {
  background-color: black;
  cursor: pointer;
}